snippet len "length of padding, margin..."
	bwc.bwc-layout--bs-grd(${1:2})$0

snippet med "media query mixin"
	@include bwc.bwc-media--gt-${1:xs}() {
		$0
	}

snippet imp "import common styles"
	@use 'libs/aviato-components' as bwc;
